<!DOCTYPE html>
<html lang="en">

<div class="d1">
  <a href="auth/log_in"> <button class="but1">Log in</button></a>
  <a href="auth/sign_up"> <button class="but1">Sign up</button></a>
</div>

<div class="d2">
  <h1>Spaceship</h1>
  <img src="/logo.png" class="center" alt="<=>">
</div>
<body>
<div class="annotation">
  <p>Spaceship is an online compiler proxy that allows users to run CUDA programs without the need to have an Nvidia
    GPU.</p>
</div>
</body>
<div class="d3">
  <a href="/sp.py" download="sp.py" class="but2" type="button">
    <button class="but2">Get the utility</button>
  </a>
</div>
</html>
